.root {
    position: relative;

    margin-top: 100rem;
}

.wrapper {
    display: flex;
    gap: 18px;
}

.floaty {
    position: absolute;
}

.floaty1 {
    left: -47rem;
    top: 384rem;

    width: 76rem;
}

.floaty2 {
    left: 500rem;
    top: 9rem;

    width: 48rem;
}

.floaty3 {
    right: -78rem;
    top: 259rem;

    width: 31rem;
}
