.root {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 64rem 0 46rem;

    background-color: black;
    border-radius: 56rem 56rem 0 0;
}


.title {
    width: 558rem;
    text-align: center;

    font-family: "DTGetai", "sans-serif";
    font-size: 56rem;
    line-height: 102%;
    color: white;
}

.desc {
    font-family: "Gantari", "sans-serif";
    font-size: 24rem;
    line-height: 133%;
    color: white;

    margin-top: 20rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32rem;
}

.input {
    width: 574rem;

    padding: 14rem 32rem;
    border-radius: 100rem;
    border: none;

    font-family: "Gantari", "sans-serif";
    font-size: 20rem;
    line-height: 160%;
    letter-spacing: 0.4rem;
    color: var(--graphyte);
}

.area {
    height: 175rem;
    border-radius: 32rem;
    resize: none;
}

.input::placeholder {
    opacity: 0.5;
}

.input:not(:first-child) {
    margin-top: 16rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 148rem;
    height: 50rem;
    margin-top: 32rem;

    border-radius: 100rem;
    border: none;
    background-color: var(--green);
    cursor: pointer;

    font-family: "Gantari", "sans-serif";
    font-size: 20rem;
    line-height: 160%;
    font-weight: 700;
    color: white;
}

.backgorundWrapper {
    pointer-events: none;
    position: absolute;
    overflow: hidden;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 56rem 56rem 0 0;
}

.background {
    position: absolute;
    width: 1925rem;

    top: -39rem;
    left: 50%;

    transform: translateX(-50%);
}

.floaty {
    position: absolute;
    top: -19rem;
    left: 50%;

    width: 37rem;

    transform: translateX(calc(-50% + 356rem));
}

