@media (min-width: $mobile-size-trigger + 1) {
    .root {
        position: relative;
        background-color: black;

        border-radius: 0 0 56rem 56rem;

        height: 469rem;
    }

    .title {
        width: 737rem;

        margin-top: 50rem;
        font-family: "DTGetai", "sans-serif";
        font-size: 72rem;
        line-height: 111%;
        color: white;
    }

    .arrow {
        width: 46rem;
    }

    .tagsWrapper {
        display: flex;
        flex-wrap: wrap;

        width: 737rem;
        margin-top: 40rem;
        gap: 12rem;
    }

    .tag {
        font-family: "Gantari", "sans-serif";
        font-size: 20rem;
        line-height: 135%;
        letter-spacing: 0.4rem;

        padding: 16rem 24rem;
        border: 1px solid white;
        border-radius: 100rem;
        color: white;
    }

    .item {
        position: absolute;
    }
}

@media (max-width: $mobile-size-trigger) {
    .root {
        position: relative;
        background-color: black;

        border-radius: 0 0 24rem 24rem;
    }

    .title {
        margin-top: 32rem;
        font-family: "DTGetai", "sans-serif";
        font-size: 32rem;
        line-height: 102%;
        color: white;
    }

    .arrow {
        width: 22rem;
    }

    .tagsWrapper {
        display: flex;
        flex-direction: column;
        margin-top: 32rem;
        gap: 12rem;
    }

    .tag {
        text-align: center;
        font-family: "Gantari", "sans-serif";
        font-size: 16rem;
        line-height: 150%;
        letter-spacing: 0.32rem;

        padding: 16rem 16rem;
        border: 1px solid white;
        border-radius: 100rem;
        color: white;
    }

    .item {
        position: relative;
    }
}
