$transform-duration: 0.5s;

@media (min-width: $mobile-size-trigger + 1) {
  .root {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    max-width: 844rem;

    padding: 40rem;
    margin-top: 32rem;
    gap: 20rem;

    border-radius: 40rem;
    background-color: #F5F5F5;
  }
}

@media (max-width: $mobile-size-trigger) {
  .root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    box-sizing: border-box;

    padding: 16rem;
    margin-top: 16rem;
    gap: 23rem;

    border-radius: 24rem;
    background-color: #F5F5F5;
  }
}
