@media (min-width: $mobile-size-trigger + 1) {
    .root {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cover {
        margin-top: 56rem;
    }

    .img {
        margin-top: 80rem;
        border-radius: 40rem;
    }

    .ideas {
        margin-top: 62rem;
    }
}

@media (max-width: $mobile-size-trigger) {
}
