.root {
    border: 1px solid white;
}

.root_theme_white {
    color: black;
    border: 1px solid black;
}

.divider {
    height: 22rem;
    width: 1px;
    background-color: white;
}

.link {
    color: unset;
    text-decoration: none;
}

@media (min-width: $mobile-size-trigger + 1) {
    .root {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 111rem;
        height: 38rem;
        gap: 7rem;
        border-radius: 100rem;

        font-size: 18rem;
        line-height: 133%;
        letter-spacing: 0.36rem;
    }

    .language:hover {
        cursor: pointer;
    }

    .language:hover,
    .language_active {
        color: var(--green);
        text-decoration: underline;
    }
}

@media (max-width: $mobile-size-trigger) {
    .root {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 111rem;
        height: 38rem;
        gap: 7rem;
        border-radius: 100rem;

        font-size: 18rem;
        line-height: 133%;
        letter-spacing: 0.36rem;
    }

    .language_active {
        color: var(--green);
        text-decoration: underline;
    }
}
