.link {
  text-decoration: none;
}

.floaty {
  position: absolute;
}

.floaty_circle {
  background-color: #5550EC;
  border-radius: 100%;
}

.floaty1 {
  width: 35rem;
  height: 35rem;

  top: 0;
  left: 225rem;
}

.floaty2 {
  width: 6rem;
  height: 6rem;

  top: 222rem;
  left: 215rem;
}

.floaty3 {
  width: 12rem;
  height: 12rem;

  top: 244rem;
  left: 231rem;
}

.floaty4 {
  width: 12rem;
  height: 12rem;

  top: 227rem;
  left: 390rem;
}

.floaty5 {
  width: 8rem;
  height: 8rem;

  top: 5rem;
  left: 640rem;
}

.floaty6 {
  width: 9rem;
  height: 9rem;

  top: 32rem;
  left: 643rem;
}

.floaty7 {
  width: 14rem;
  height: 14rem;

  top: 27rem;
  left: 667rem;
}

.floaty8 {
  height: 41rem;

  top: 239rem;
  left: 781rem;
}

@media (min-width: $mobile-size-trigger + 1) {
  .root {
    margin-top: 131rem;
    margin-bottom: 100rem;
  }

  .title {

    font-family: "DTGetai", "sans-serif";
    font-size: 48rem;
    line-height: 104%;
    letter-spacing: 0.96rem;
  }

  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 30rem;
  }

  .item {
    width: 200rem;
  }
}

@media (max-width: $mobile-size-trigger) {
  .root {
    margin-top: 32rem;
    margin-bottom: 67rem;
  }

  .title {
    padding: 0 16rem;
    font-family: "DTGetai", "sans-serif";
    font-size: 48rem;
    line-height: 50rem;
    letter-spacing: 0.96rem;
  }

  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: scroll;

    gap: 10rem;
    margin: 22rem 0 0;
    padding: 0 16rem;
  }

  .item {
    width: 200rem;
  }

  .info {
    display: flex;
    justify-content: center;

    margin-top: 15rem;

    color: var(--graphyte);
    font-family: "Gantari", "sans-serif";
    font-size: 16rem;
    line-height: 24rem;
    letter-spacing: 0.32rem;
    opacity: 0.5;
  }

  .floaty {
    transform: translateX(16rem);
  }
}
