.root {
    font-family: Gantari, Arial, sans-serif;
    font-weight: 400;
    color: white;
}

.root_theme_white {
    color: black;
}

.links {
    text-decoration: none;
    color: unset;
}

@media (min-width: $mobile-size-trigger + 1) {
    .root {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 20px;
    }

    .root_withLogo .nav {
        margin-right: 48px;
    }

    .wrapper {
        display: flex;
        align-items: center;
    }

    .nav {
        display: flex;
        gap: 32rem;
    }

    .navItem {
        font-size: 18rem;
        line-height: 133%;
        letter-spacing: 0.36rem;
    }

    .navItem_active {
        text-decoration: underline;
    }

    .navItem:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .menu {
        display: flex;

        gap: 12px;
    }

    .contactButton {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 132rem;
        height: 38rem;
        border-radius: 100rem;

        font-size: 18rem;
        line-height: 133%;
        letter-spacing: 0.36rem;

        background-color: var(--green);
        cursor: pointer;
        color: white;
    }

    .logo {
        height: 38rem;
        margin-right: 195rem;
    }
}

@media (max-width: $mobile-size-trigger) {
    .root {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 20px;
    }

    .menu {
        display: flex;
        justify-content: space-between;

        width: 100%;
    }

    .burger {
        width: 38rem;
    }

    .logo {
        height: 24rem;
    }
}
