.link {
  text-decoration: none;
}

.desc::after {
  content: url("assets/arrow-black.svg");

  margin-left: 9rem;

  width: 16rem;

  transform: translateY(2rem);
}

.floaty {
  position: absolute;
}

.floaty_circle {
  background-color: #5550EC;
  border-radius: 100%;
}

@media (min-width: $mobile-size-trigger + 1) {
  .root {
    margin-top: 56rem;
  }

  .title {

    font-family: "DTGetai", "sans-serif";
    font-size: 48rem;
    line-height: 104%;
    letter-spacing: 0.96rem;
  }

  .wrapper {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    margin-top: 30rem;
  }

  .itemWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .itemImg {
    margin: auto 0;
    width: 327rem;
  }

  .desc {
    margin-top: 16rem;

    font-family: "Gantari", "sans-serif";
    color: var(--graphyte);
    font-size: 18rem;
    line-height: 130%;
    letter-spacing: 0.36rem;
    font-weight: 700;
  }

  .floaty1 {
    width: 107rem;
    top: 0;
    right: 350rem;
  }

  .floaty2 {
    width: 64rem;
    bottom: -40rem;
    right: 150rem;

    transform: translateY(100%);
  }

  .floaty3 {
    width: 34rem;
    height: 34rem;
    top: 363rem;
    left: 360rem;
  }

  .floaty4 {
    width: 13rem;
    height: 13rem;
    top: 397rem;
    left: 414rem;
  }
}

@media (max-width: $mobile-size-trigger) {
  .root {
    margin-top: 32rem;
  }

  .title {
    padding: 0 16rem;
    font-family: "DTGetai", "sans-serif";
    font-size: 48rem;
    line-height: 50rem;
    letter-spacing: 0.96rem;
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40rem;
    margin-top: 23rem;
  }

  .itemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .itemImg {
    width: 288rem;
  }

  .desc {
    margin-top: 15rem;

    font-family: "Gantari", "sans-serif";
    color: var(--graphyte);
    font-size: 18rem;
    line-height: 130%;
    letter-spacing: 0.36rem;
    font-weight: 700;
  }

  .floaty1 {
    width: 86rem;
    top: 479rem;
    right: -16rem;
  }

  .floaty2 {
    display: none;
  }

  .floaty3 {
    width: 21rem;
    height: 21rem;
    top: 753rem;
    left: 0;
  }

  .floaty4 {
    width: 8rem;
    height: 8rem;
    top: 774rem;
    left: 40rem;
  }
}
