@media (min-width: $mobile-size-trigger + 1) {
    .root {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blockHeader {
        margin-top: 64rem;
    }


    .title {
        font-size: 102rem;
    }

    .itemsWrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-row-gap: 56rem;
        justify-content: space-between;

        margin: 105rem 0 109rem 0;
    }

    .floaty {
        position: absolute;
    }

    .floaty1 {

        top: -34rem;
        left: 294rem;

        width: 54rem;
    }

    .floaty2 {
        top: 410rem;
        right: 317rem;

        width: 46rem;
    }
}

@media (max-width: $mobile-size-trigger) {
    .root {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blockHeader {
        margin-top: 31rem;
    }


    .title {
        font-size: 48rem;
    }

    .itemsWrapper {
        display: grid;
        grid-row-gap: 32rem;

        margin: 40rem 0 48rem 0;
    }
}
