:root {
  --green: #00A650;
  --graphyte: #242424;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
}

@media (min-width: $mobile-size-trigger + 1) {
  .wide_padding {
    padding: 0 calc((100% - 1040rem) / 2);
  }

  .box {
    width: 1040rem;
  }
}

@media (max-width: $mobile-size-trigger) {
  .wide_padding {
    padding: 0 calc((100% - 288rem) / 2);
  }

  .box {
    width: 288rem;
  }
}

.wide_padding {
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;
}

.wide {
  width: 100%;
  flex-shrink: 0;
}

.box {
  margin: 0 auto;
}

@font-face {
  font-family: "Gantari";
  font-style: normal;
  font-weight: 100 900;
  src: url("../../../public/fonts/Gantari-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "DTGetai";
  font-style: normal;
  font-weight: 400;
  src: url("../../../public/fonts/DTGetaiGroteskDisplay-Black.woff2") format("woff2");
}
